@model KhaiJobs.ViewModels.StudentProfileViewModel
@{Layout = "~/Views/Shared/_Student.cshtml"; }
@{
    ViewBag.Title = "EditProfile";
}
<title>@ViewBag.Title</title>
<div class="container content-main">
    <div>
        <h2>Персональная информация соискателя</h2>
    </div>
    <form id="studentProfileForm" class="" action="/Student/EditProfile" method="post">
        <input type="hidden" id="id" name="id" value="@Model.Profile.id">
        <div class="form-group">
            <label from="firstName">Имя</label>
            <input type="text" class="form-control" value="@Model.Profile.name" id="name" name="name" />
        </div>
        <div class="form-group">
            <label from="lastName">Фамилия</label>
            <input type="text" class="form-control" value="@Model.Profile.lastname" id="lastName" name="lastname" />
        </div>
        <div class="form-group">
            <label from="email">Email</label>
            <input type="email" class="form-control" value="@Model.Profile.email" id="email" name="email" />
        </div>
        <div class="form-group">
            <label from="numberPhone">Телефон</label>
            <input type="tel" class="form-control" value="@Model.Profile.phone" id="phone" name="phone" />
        </div>

        <div>
                
        </div>
        <div class="alert alert-info">Личностные компетенции <a href="/Student/AddCompetence" role="button" class="btn btn-action link-btn">Добавить</a></div>
        <div>
            <span>Test name:</span>
            <div style="display:inline" class="testrat"></div>
            <a class="btn">Редактировать</a>
        </div>
        <div>
            <span>Test name:</span>
            <div style="display:inline"  class="testrat"></div>
            <a class="btn">Редактировать</a>
        </div>

        <div>
            <div class="alert alert-info">Профессиональные компетенции <a href="/Student/AddProfessionalCompetence?id=@Model.Profile.id" class="btn btn-action link-btn">Добавить</a></div>
            @foreach (var competence in Model.Profile.students_proffessional_competences)
            {
                <div>
                    <span>@competence.proffessional_competence.name</span>
                    <div style="display:inline" class="testrat"></div>
                    <a href="/Student/EditProfessionalCompetence?id=@Model.Profile.id" class="btn btn-action link-btn">Редактировать</a>
                </div>
            }
        </div>
        <div>
            <div class="alert alert-info">Личностные компетенции <a href="/Student/AddPersonalCompetence?id=@Model.Profile.id" class="btn btn-action link-btn">Добавить</a></div>
            @foreach (var competence in Model.Profile.students_personal_competences)
            {
                <div>
                    <span>@competence.personal_competence.name</span>
                    <div style="display:inline" class="testrat"></div>
                    <a href="/Student/EditPersonalCompetence?id=@Model.Profile.id" class="btn btn-action link-btn">Редактировать</a>
                </div>
            }
        </div>

        @*<div class="form-group">
            <div class="input-group input-gr-add">
                <input class="form-control" id="quality" name="quality" placeholder="Введите качество" />
                <ul class="dropdown-menu" id="drop-quality" style="top:31px; left:0px;"></ul>
                <span class="input-group-btn">
                    <button class="btn btn-primary btn-fix" id="btn-qual-add">Добавить</button>
                </span>
            </div>
        </div>
        <div id="qualities">
            <table id="table-qual">
                 <tr>
                <td class="skill_name">Качество</td>
                <td>
                    <div id="testrate"></div>
                    <input type="hidden" id="testratehide" value="1" />
                </td>
                <td class="skill-remove"><a href="#">×</a></td>
            </tr>
            </table>

        </div>*@


        <div class="form-group">
            <input class="btn btn-default" type="submit" value="Сохранить" />
        </div>
    </form>
</div>

<link href="~/Content/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="~/Content/jobs.css" rel="stylesheet" />
<link href="~/Content/competition.css" rel="stylesheet" />
<script src="~/Scripts/Student/EditProfileScript.js"></script>