@model KhaiJobs.ViewModels.StudentProfileViewModel
@{Layout = "~/Views/Shared/_Student.cshtml"; }
@{
    ViewBag.Title = "EditProfile";
}
<title>@ViewBag.Title</title>
<div class="container content-main">
    <div>
        <h2>Персональная информация соискателя</h2>
    </div>
    <form id="studentProfileForm" class="" action="/Student/EditProfile" method="post">
        <input type="hidden" id="id" name="id" value="@Model.Profile.id">
        <div class="form-group">
            <label from="firstName">Имя</label>
            <input type="text" class="form-control" value="@Model.Profile.name" id="name" name="name" />
        </div>
        <div class="form-group">
            <label from="lastName">Фамилия</label>
            <input type="text" class="form-control"  value="@Model.Profile.lastname" id="lastName" name="lastname" />
        </div>
        <div class="form-group">
            <label from="email">Email</label>
            <input type="email" class="form-control"  value="@Model.Profile.email" id="email" name="email" />
        </div>
        <div class="form-group">
            <label from="numberPhone">Телефон</label>
            <input type="tel" class="form-control"  value="@Model.Profile.phone" id="phone" name="phone" />
        </div>
        <div class="form-group">
            <input class="btn btn-default" type="submit" value="Сохранить" />
        </div>
    </form>
</div>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="~/Content/jobs.css" rel="stylesheet" />