@model KhaiJobs.ViewModels.StudentProfileViewModel
@{Layout = "~/Views/Shared/_Student.cshtml"; }
@{
    ViewBag.Title = "EditProfile";
}
<title>@ViewBag.Title</title>
<div class="container content-main">
    <div>
        <h2>Персональная информация соискателя</h2>
    </div>
    <form id="studentProfileForm" class="" action="/Student/EditProfile" method="post">
        <input type="hidden" id="id" name="id" value="@Model.Profile.id">
        <div class="form-group">
            <label from="firstName">Имя</label>
            <input type="text" class="form-control" value="@Model.Profile.name" id="name" name="name" />
        </div>
        <div class="form-group">
            <label from="lastName">Фамилия</label>
            <input type="text" class="form-control" value="@Model.Profile.lastname" id="lastName" name="lastname" />
        </div>
        <div class="form-group">
            <label from="email">Email</label>
            <input type="email" class="form-control" value="@Model.Profile.email" id="email" name="email" />
        </div>
        <div class="form-group">
            <label from="numberPhone">Телефон</label>
            <input type="tel" class="form-control" value="@Model.Profile.phone" id="phone" name="phone" />
        </div>


        <div class="alert alert-info">Личностные качества</div>
        <div class="form-group">
            <div class="input-group input-gr-add">
                <input class="form-control" id="quality" name="quality" placeholder="Введите качество" />
                <ul class="dropdown-menu" id="drop-quality" style="top:31px; left:0px;"></ul>
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary btn-fix" id="btn-qual-add">Добавить</button>
                </span>
            </div>
        </div>
        <div id="qualities">
            <table id="table-qual">
                <!-- <tr>
                <td class="skill_name">Качество</td>
                <td>
                    <div id="testrate"></div>
                    <input type="hidden" id="testratehide" value="1" />
                </td>
                <td class="skill-remove"><a href="#">×</a></td>
            </tr>-->
            </table>

        </div>


        <div class="form-group">
            <input class="btn btn-default" type="submit" value="Сохранить" />
        </div>
    </form>
</div>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="~/Content/jobs.css" rel="stylesheet" />
<link href="~/Content/competition.css" rel="stylesheet" />
<script type="text/javascript">
    var arrQuality = [
        "Аккуратность", "Активность", "Амбициозность", "Бесконфликтность", "Быстрая реакция", "Вежливость", "Внимательность", "Дисциплинированность",
        "Инициативность", "Исполнительность", "Коммуникабельность", "Максимализм", "Настойчивость", "Находчивость", "Обаяние",
        "Организованность", "Ответсвенность", "Порядочность", "Преданность", "Принципиальность", "Пунктуальность", "Решительность",
        "Самоконтроль", "Самокритичность", "Самостоятельность", "Скромность", "Стрессоустойчивость", "Тактичность", "Терпеливость",
        "Требовательность", "Трудолюбие", "Уверенность в себе", "Уравновешенность", "Целеустремленность", "Честность", "Энергичность", "Этичность"
    ];

    document.addEventListener("DOMContentLoaded", ready);

    function ready() {
        //setTimeout(updtime, 1000);
        var j = 0;
        var arrayTest = ["один", "два", "три", "пять", "десять"];
        arrayTest.forEach(function (item) {
            var idforcode = item.replace(/\s{1,}/g, '').replace(/[-()/\\]/g, '').replace(/\#/g, '-sh').replace(/\+/g, '-pl');
            $("#table-qual").append('<tr>' +
                '<td class="skill_name">' + item + '</td>' +
                '<td>' +
                '<div id="' + item.replace(/\s{1,}/g, '') + '"></div>' +
                '<input type="hidden" name="competition[\'' + item.replace(/\s{1,}/g, '') + '\']" id="' + idforcode + 'hide" value="1" />' +
                ' </td> <td class="skill-remove"><a href="#">×</a></td> </tr>'
            );
            j++;
            var code = '$("#' + idforcode + '").raty({numberMax: 5,target:  "#' + idforcode + 'hide",readOnly:true,score:' + j + '});';
            console.log(code);
            eval(code);
        });

        $(document).on('click', '.skill-remove > a', function () {
            $(this).parents('tr').fadeOut(100, function () {
                $(this).remove();
                /* $.post(window.location.href,
                     {
                         delete_skill: this.id
                         //csrfmiddlewaretoken: 'Rxd89plwJZRqCX3qJ9nQ7hbSQb0ZWMuEvTTgkhmlb5KJWvYdN4liWlufJtoCNMkz'
                     },
                     function (data, status) {
                         $(this).remove();
                     })
                     .fail(function (xhr) {
                         //console.log("Can’t remove. Reason: " + xhr.statusText);
                     });
                 */
            });
            return false;
        });


        $("#drop-quality").on('click', 'li a', function (event) {
            event.preventDefault();
            document.getElementById("drop-quality").style.display = "none";
            //console.log(this.innerHTML);
            var textqual = this.innerHTML;
            AddItemToTable("table-qual", "quality", textqual);
        });

        $('#btn-qual-add').on('click', function (event) {
            event.preventDefault();
            var textqual = $('#quality').val();
            if (textqual != "") {
                AddItemToTable("table-qual", "quality", textqual);
            }
        });


        var tmp = 1;
        function AddItemToTable(tblName, inputEl, text) {
            var tbl = $("#" + tblName);
            if (tbl[0].children.length != 0) {

                var listQuantyties = tbl[0].children[0].children;
                var flagExist = false;
                for (var i = 0; i < listQuantyties.length; i++) {

                    console.log(listQuantyties[i].children[0].innerHTML);
                    if (listQuantyties[i].children[0].innerHTML == text) {

                        flagExist = true;
                    }
                }
            }
            $("#" + inputEl).val("");
            //var idforcode = text.replace(/\s{1,}/g, '').replace(/\(/g, 'sc-o').replace(/\)/g, 'sc-c').replace(/[()/\\]/g, '').replace(/\#/g, '-sh').replace(/\+/g, '-pl');
            var idforcode = "";
            if (!flagExist)
                $("#" + tblName).append('<tr>' +
                    '<td class="skill_name">' + text + '</td>' +
                    '<td>' +
                    '<div id="tmpUtem' + tmp + '" class="qualityone"></div>' +
                    '<input type="hidden" name="competition[\'' + text + '\']" id="' + idforcode + 'hide" value="1" />' +
                    ' </td> <td class="skill-remove"><a href="#">×</a></td> </tr>'
                );
            var code = '$("#tmpUtem' + tmp + '").raty({score: 1,numberMax: 5,click: function(score, evt){this.nextSibling.value=score}});';
            console.log(code);
            eval(code);
            tmp++;
            return false;
        }

        $("#quality").on('keyup', function () {
            var inp = this.value;
            UpdateList("drop-quality", inp, arrQuality);
        });

        function UpdateList(nameDrop, inp, arrayList) {
            var natEl = document.getElementById(nameDrop);
            natEl.style.display = "none";
            if (inp.length >= 1) {
                var jqEl = $("#" + nameDrop);
                jqEl.empty();
                var count = 0;
                arrayList.forEach(function (item) {

                    if (item.toLowerCase().indexOf(inp.toLowerCase()) != -1) {
                        //console.log("Sussess! " + item);
                        count++;
                        if (count < 10) {
                            jqEl.append('<li><a href="#">' + item + '</a></li>');
                        }

                    }

                });

                if (count > 0) { natEl.style.display = "block"; }
            }
        }
    }
</script>