@model KhaiJobs.ViewModels.VacancySearchViewModel
@{Layout = "~/Views/Shared/_Student.cshtml";}
@{
    ViewBag.Title = "Поиск вакансий";
}
<title>@ViewBag.Title</title>
<div class="container content-main">
    <div class="row">
        <div class="col-lg-9 ">
            
            
            <div class="input-group">
                <form id="searchForm" action="/Student/JobSearch">
                    <input type="text" name="keyword" class="form-control" placeholder="Введите ключевые слова" />
                </form>
                <span class="input-group-btn"><button class="btn " onclick="$('#searchForm').submit();">Поиск</button></span>
            </div>

            @if(Model.Vacancies.Count > 0)
            {
                <h1 class="alljobs">Все вакансии:</h1>
            }


            <table>
                @foreach (var vacancy in Model.Vacancies)
                {
                    <tr>
                        <td class="job-item">
                            <a href="@Url.Action("ViewJobPosting", "JobPosting", new { id = vacancy.id})" class="namejob">@vacancy.name</a>
                            <a href="#" class="companyjob"><h4>@(vacancy.company?.name)</h4></a>
                            <div class="location"><i class="fa fa-globe"></i> @(vacancy.company?.city)</div>
                            <div class="descrjob">@vacancy.description</div>
                            <div class="pull-right">14.11.2017</div>
                        </td>
                    </tr>
                }
            </table>
        </div>
        <div class="col-lg-3">
            <div style="margin:15px;">
                <div class="fitltr">Фильтр</div>
                <form class="">
                    <div class="form-group">
                        Рубрика
                        <select class="form-control">
                            <option></option>
                            <option>IT</option>
                            <option>Недвижимость</option>
                            <option>Наука</option>

                        </select>
                    </div>
                        
                    <div class="form-group">
                        Вид занятости
                        <select class="form-control">
                            <option>Полная</option>
                            <option>Неполная</option>
                            <option>Стажировка</option>
                            <option>Удаленная</option>
                            <option>Проектная работа</option>

                        </select>
                    </div>
                    
                    <div class="form-group">
                        Уровень зпроботной платы (грн)
                        от <input class="form-control" name="salary" />
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block" onclick="$('#searchForm').submit();">Поиск</button>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>

<link href="~/Content/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="~/Content/jobs.css" rel="stylesheet" />
