@model KhaiJobs.ViewModels.JobPostingViewModel
@{Layout = "~/Views/Shared/_Student.cshtml";}
@{
    ViewBag.Title = "Просмотр вакансии";
}
<title>@ViewBag.Title</title>
<div class="container content-main">
    <div class="row">
        <div class="col-lg-9 ">

            <h3 class="alljobs">@Model.Vacancy.name</h3>

            @*<div>Опубликовано 14 ноября 2017 @Model.dateOfPublishing </div>*@

            <div class="contactsblock">
                <div><i class="fa fa-map-marker"></i> @(Model.Vacancy.company?.city)</div>
                <div><i class="fa fa-user"></i>@Model.Vacancy.contact</div>
                <div><i class="fa fa-phone"></i>@(Model.Vacancy.company?.phone)</div>
                <div><i class="fa fa-globe"></i> <a href="#">@(Model.Vacancy.company?.website_url)</a></div>
            </div>

            <hr />

            <div>
                Требуемый уровень образования : <b>@Model.Vacancy.education_level</b>
            </div>
            <hr />
            @{ if (Model.Vacancy.description != null)
                {
            <div>
                Описание вакансии:   
            <div>
                @Model.Vacancy.description
                </div>

            </div>}
                }
            <hr />
            <div>
                Требуемые навыки:
                
            </div>
            <div>
            @foreach (var competence in Model.Vacancy.vacancies_proffessional_competences)
            {
                <span class="badge badge-light">@competence</span>
            }
                @foreach (var competence in Model.Vacancy.vacancies_personal_competences)
            {
                    <span class="badge badge-light">@competence</span>
            }

            </div>
        </div>
    </div>
</div>

<link href="~/Content/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="~/Content/jobs.css" rel="stylesheet" />
