<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="background:url(../../images/bg.jpg);">
    
        @RenderBody()

    <div class="container content-main">
        <div class="text-center" style="font-size: 14px;">
            <div>© 2018 <a href="https://khai.edu">ХАИ</a></div>
            <div>Все права защищены.</div>
        </div>

    </div>

    
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
