@model KhaiJobs.ViewModels.ResumeSearchViewModel
@{Layout = "~/Views/Shared/_Company.cshtml";}
@{
    ViewBag.Title = "Поиск резюме";
}
<title>@ViewBag.Title</title>
<div class="container content-main">
    <div class="row">
        <div class="col-lg-9 ">


            <div class="input-group"><form id="searchForm" action="/Company/ResumeSearch"><input type="text" name="keyword" class="form-control" placeholder="Введите ключевые слова" /></form><span class="input-group-btn"><button class="btn " onclick="$('#searchForm').submit();">Поиск</button></span></div>

            @if (Model.Resumes.Count > 0)
            {

            <h1 class="alljobs">Все Резюме:</h1>

            <table width="100%">
            @foreach (var resume in Model.Resumes)
            {
                <tr>
                    <td class="job-item">
                        <a href="@Url.Action("ViewResume", "Company", new { id = resume.id })" class="namejob">@resume.name</a> 
                        @*<a href="#" class="studentname"><h4>@resume.student_profiles.name @resume.student_profiles.lastname</h4></a>*@
                        <div class="location"><i class="fa fa-globe"></i> @resume.city</div>
                        <div class="location"><i class="fa fa-globe"></i> @resume.country</div>
                        
                        <div class="pull-right">@resume.creation_date</div>
                    </td>
                </tr>

            }
            </table>
            }
        </div>
        <div class="col-lg-3">
            <div style="margin:15px;">
                <div class="fitltr">Фильтр</div>
                <form class="">
                    <div class="form-group">
                        Рубрика
                        <select class="form-control">
                            <option></option>
                            <option>IT</option>
                            <option>Недвижимость</option>
                            <option>Наука</option>

                        </select>
                    </div>

                    <div class="form-group">
                        Вид занятости
                        <select class="form-control">
                            <option>Полная</option>
                            <option>Неполная</option>
                            <option>Стажировка</option>
                            <option>Удаленная</option>
                            <option>Проектная работа</option>

                        </select>
                    </div>

                    <div class="form-group">
                        Уровень зпроботной платы (грн)
                        от <input class="form-control" name="salary" />
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block" onclick="$('#searchForm').submit();">Поиск</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<link href="~/Content/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="~/Content/jobs.css" rel="stylesheet" />
