@model KhaiJobs.ViewModels.ViewResumeViewModel
@{Layout = "~/Views/Shared/_Company.cshtml";}
@{
    ViewBag.Title = "Просмотр Резюме";
}
<title>@ViewBag.Title</title>
<div class="container content-main">
    <div class="row">
        <div class="col-lg-9 ">

            <h3 class="alljobs">@Model.name</h3>

            <div>Опубликовано @*14 ноября 2017*@ @Model.creation_date</div>

            <div class="contactsblock">
                <div><i class="fa fa-map-marker"></i> @Model.city</div>
                <div><i class="fa fa-user"></i> @Model.StudentProfile.FullName</div>
                <div><i class="fa fa-phone"></i> @Model.StudentProfile.Phone</div>

            </div>

            <hr />

            <div>
                Тип работы :
                <b>
                    @Model.job_type

                    @*if(@Model.job_type.Count == 0){
                        Не указаны
                        }
                        @foreach (var jobType in @Model.job_type)
                        {
                            <span>jobType.name</span>
                        }*@
                </b>
            </div>


            <div>
                Возможность переезда :
                <b>
                    @Model.is_relocate
                </b>
            </div>
            <div>
                Уровень образования :
                <b>
                    @Model.education_level
                </b>
            </div>
            <div>
                Опыт :
                <b>
                    @Model.experience_level
                </b>
            </div>
            <hr />

            <div>
                Навыки:
                <div>
                    <span class="badge badge-light">.NET</span>
                    <span class="badge badge-light">ООП</span>
                    <span class="badge badge-light">MVC</span>
                </div>
            </div>
            <div>
                Знания:


                <div>
                    <span class="badge badge-light">Теория баз данных</span>
                    <span class="badge badge-light">Компьютерное проектирование</span>

                </div>
            </div>
        </div>
    </div>
</div>

<link href="~/Content/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="~/Content/jobs.css" rel="stylesheet" />
